.laPizza {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;

  &--yellow {
    color: var(--brand-color);
  }

  &--red {
    color: var(--dark-40);
  }

  &--green {
    color: var(--dark-50);
  }

  &__header {
    align-items: center;
    background: url('/bg.png');
    background-position: center;
    display: flex;
    justify-content: center;
    height: 600px;
    width: 100%;
  }

  &__logo {
    max-width: 596px;
    height: 394px;
    width: 100%;

    @media screen and (min-width: 768px) and (max-width: 1024px) {
      max-width: 300px;
      height: 198px;
    }

    @media screen and (max-width: 768px) {
      max-width: 216px;
      height: 143px;
    }
  }

  &__main {
    background-color: #fdf9ef;
    display: flex;
    justify-content: center;
    width: 100%
  }

  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 144px 24px;
    justify-content: center;
    width: 100%;

    @media screen and (max-width: 768px) {
      padding: 64px 24px;
    }
  }

  &__title {
    font-size: 40px;
    font-weight: 600;
    line-height: 48.41px;
    margin-bottom: 94px;
    text-align: right;

    @media screen and (min-width: 768px) and (max-width: 1024px) {
      font-size: 36px;
      font-weight: 600;
      line-height: 43.57px;
      text-align: right;
    }

    @media screen and (max-width: 768px) {
      font-size: 24px;
      font-weight: 600;
      line-height: 29.05px;
      text-align: right;
    }
  }

  &__pizzas {
    display: flex;
    gap: 39px;
    max-width: 1285px;
    width: 100%;

    @media screen and (min-width: 768px) and (max-width: 1024px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 108px;
      column-gap: 32px;
      justify-items: center;
      align-items: center;
    }

    @media screen and (max-width: 768px) {
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
      align-items: center;
      gap: 99px;
    }
  }

  &__pizza {
    align-items: center;
    background-color: var(--dark-20);
    border: 2px solid #FFF5DE;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    height: 300px;
    max-width: 280px;
    position: relative;
    width: 100%;

    @media screen and (max-width: 768px) {
      max-width: 324px;
    }

    &-image {
      position: absolute;
      top: -55px;
    }

    &-favorite {
      cursor: pointer;
      position: absolute;
      top: -15px;
      right: 16px;
    }

    &-title {
      font-size: 20px;
      font-weight: 700;
      line-height: 24.2px;
      text-align: center;

    }

    &-description {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: center;
    }

    &-price {
      font-size: 32px;
      font-weight: 700;
      line-height: 38.73px;
      text-align: center;
    }

    &-button {
      background-color: var(--brand-color);
      border-radius: 25px;
      border: 0px;
      cursor: pointer;
      bottom: -20px;
      font-size: 14px;
      font-weight: 700;
      line-height: 16.94px;
      padding: 12px 40px;
      position: absolute;
      text-transform: uppercase;
    }
  }

  &__footer {
    background-color: var(--dark-20);
    border-top: 1px solid var(--brand-color);
    display: flex;
    justify-content: center;
    padding: 64px 0;
    width: 100%;
  }

  &__footerContent {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 1285px;
    padding: 0 24px;
    gap: 136px;
    width: 100%;

    @media screen and (max-width: 768px) {
      gap: 64px;
      flex-direction: column;
    }
  }

  &__footerTitle {
    font-size: 36px;
    font-weight: 600;
    line-height: 43.57px;
    text-align: left;
  }

  &__footerImage {
    width: 100%;
  }

  &__footerDescription {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: left;
  }

  &__footerButton {
    background-color: var(--brand-color);
    border-radius: 25px;
    border: 0px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.94px;
    max-width: 197px;
    width: 100%;
    padding: 12px 40px;
    text-transform: uppercase;
  }

  &__footerText {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}