@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --brand-color: #FFBD48;
  --dark-10: #2E2E2E;
  --dark-20: #FEFBF4;
  --dark-30: #FFFFFF;
  --inter: "Inter";
}

* {
  box-sizing: border-box;
  color: var(--dark-10);
  font-family: var(--inter), sans-serif;
  margin: 0;
  padding: 0;
}

body {
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;

}